@page
<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-page="/contractor/order">Создание заказа</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/contractor/checkorder">Проверка заказа</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/contractor/editorder">Редактирование заказа</a>
</div>
