@page
<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-page="/registration">Страница регистрации</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/authorization">Страница авторизации</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/orders">Страница со списком моих заказов</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/cabinet">Страница с информацией о профиле</a>
</div>
